.Box {
    background-color: #fff;
    display: flex;
    padding: var(--gap);
    margin: var(--gap);
    width: 300px;
    box-shadow: 0px 0px 6px #b4b4b4;
    min-height: 50px;
    justify-content: center;
    align-items: center;
}