.Line {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 var(--gap);
    gap: var(--gap);
}

.Line.no-padding-left {
    padding-left: 0;
}


.Line[justify="center"] {
    justify-content: center;
}

.Line[justify="end"] {
    justify-content: flex-end;
}

.Line[justify="between"] {
    justify-content: space-between;
    padding: 0;
}

.Line[justify="around"] {
    justify-content: space-around;
}
