.Dropdown {
    position: relative;
}

.Dropdown .header {
    border: 1px solid var(--border);
    padding: var(--gap-m);
}

.Dropdown .header:hover {
    cursor: pointer;
    background-color: var(--background-light);
}

.Dropdown .header:active {
    cursor: pointer;
    background-color: var(--background-light-active);
}

.Dropdown .list {
    border: 1px solid var(--border);
    position: absolute;
    background-color: var(--background);
    top:100%;
    min-width: calc(100% - 2px);
}
.Dropdown .list > div {
    padding: var(--gap-m);
    border-bottom: 1px solid var(--border);
}

.Dropdown .list > div:hover {
    cursor: pointer;
    background-color: var(--background-light);
}

.Dropdown .list > div:active {
    background-color: var(--background-light-active);
}