html, body, #root {
    height: 100%;
}

body {
    background-color: var(--background-primary);
    margin: 0;
}

body {
    font-family: var(--font-family);
}

h1, h2, h3, h4 {
    margin: 0;
}

h3 {
    font-weight: 200;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.active {
    color: var(--accent);   
}