

:root {
    --font-family: 'Noto Sans JP', sans-serif;
    
    --primary: #009688;
    --primary-dark: #00796B;
    --color-text-light: #ccc;
    
    --accent: #CDDC39;
    
    --background: #fff;
    --background-primary: #e1e1e1;
    --background-light: #f9f9f9;
    --background-light-active: #f1f1f1;
    --background-accent: #BDBDBD;

    --border: #e1e1e1;

    --gap: 20px;
    --gap-m: 15px;
}